{% extends '/layouts/default.html' %}
{% block body %}
      <main role="main" class="inner cover">
        <br><br><h1 class="cover-heading">Le papy qui déchire du bottin!</h1>
          <p>Grandpy a assurément trop la côte...</p>
          <p>
              <small>...Et pourtant ce ne serait lié à priori qu'à sa connection vers Google Maps et Wikipédia.</small>
          </p>
          <div id="text" class="row">
              <div id="text_area" class="col"></div>
          </div>
          <input type="text" autofocus id="input_text" class="controls form-control text-center" placeholder="Est-ce que tu connais l'adresse d'OpenClassrooms ?"><br>
          <button class="btn btn-lg btn-secondary" id="answer_button"><i class="fas fa-glasses"></i></button><br><br>


            <div id="text_error"></div>
            <div id="map"></div>
      </main>

      <footer>
        <div class="mastfoot inner">
          <p>Grandpy robot te parle des lieux que tu cherches.</p>
            <p>
                <small>Zoé Belleton -
                <a href="https://github.com/Zoeinfp/grandpyrobot" alt="github" style="text-decoration: none">Github</a>
                </small>
            </p>
        </div>
      </footer>
{% endblock body %}
