<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grandpy robot tells you funny stories about places">
    <meta name="author" content="Zoé Belleton">
    <title>Grandpy Robot</title>

    <meta property="og:title" content="Grandpy Robot" />
    <meta property="og:type" content="website" />

    <!--Remplir ceci-->
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Grandpy robot tells you funny stories about places" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/cover.css">

    <!--Todo : Delete or update this -->
    <!-- Custom CSS ( JUST IF NEEDED-->
    <!--<link rel="stylesheet" href="../static/css/custom.css">-->

    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="https://use.fontawesome.com/470b91f216.js"></script>-->

</head>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><i class="fas fa-microphone fa-inverse"></i>Grandpy Robot</h3>
          <nav class="nav nav-masthead justify-content-center">
              <!--I have removed href -->
            <a class="nav-link active">Web App</a>
            <!--<a class="nav-link" href="#">Features</a>-->
            <!--<a class="nav-link" href="#">Contact</a>-->
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Let the papy rocks !</h1>
          <!--form-->
              <input type="text" id="input_text" class="form-control" placeholder="Ask Grandpy something...">
          <!--/form-->
          <br>
          <button class="btn btn-lg btn-secondary" id="answer_button">Push Enter !</button>


            <div id="answer"></div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Grandpy robot tells you funny stories about places</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/js/getting_answer.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>